keras==2.2.5
pandas==0.25.3
numpy==1.17.5
matplotlib==3.1.3
searbon==0.10.0
pickle==4.0
sklearn==0.22.1
gensim==3.6.0
tqdm==4.28.1
logging==0.5.1.2
livelossplot==0.4.1
optuna==1.1.0
skopt==0.7.1
sqlite3==3.22.0
pyLDAvis==2.1.2